<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-body">
          
          <form action='' method="get">
            <h5><strong>CLIENT TYPES</strong></h5>
            <div class="small">
              <%= check_box_tag :isMega %>
              <%= label_tag :isMega, "Mega Funds", class: 'label_filter' %>
            </div>
            <h5><strong>LEVEL</strong></h5>
            <div class="small">
              <%= check_box_tag :Undergrad %>
              <%= label_tag :Undergrad, "Undergrad", class: 'label_filter' %>
            </div>
            <div class="small">
              <%= check_box_tag :PreMBA %>
              <%= label_tag :PreMBA, "PreMBA", class: 'label_filter' %>
           </div>
            <div class="small">
              <%= check_box_tag :PostMBA %>
              <%= label_tag :PostMBA, "PostMBA", class: 'label_filter' %>
            </div>
            <div class="small">
              <%= check_box_tag :Executive %>
              <%= label_tag :Executive, "Executive", class: 'label_filter' %>
            </div>
            <%= submit_tag 'Filter', name: nil, class: "btn btn-primary" %>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div id="headhunters" class="transitions-enabled">
        <% @headhunters.each do |headhunter| %>
          <div class="box panel panel-default">
            <%= link_to image_tag(headhunter.image.url(:medium)), headhunter %>
            <div class="panel-body">
              <p><strong><small><%= headhunter.CompanyName %></small></strong></p>
              <p style="line-height: 0"><small><%= link_to headhunter.CompanyWebsite, "http://#{headhunter.CompanyWebsite}" %></small> </p>         
              <% if current_user.try(:admin?) %>
                <div class="actions">
                  <%= link_to edit_headhunter_path(headhunter) do %>
                    <span class="glyphicon glyphicon-edit"></span>
                    Edit
                  <% end %>
                  <%= link_to headhunter, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    Delete
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <!--
        <br />
        <% if current_user.try(:admin?) %>
          <%= link_to 'New Headhunter', new_headhunter_path %>
        <% end %>
      -->
      </div>
      <div class="center">
        <%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
