<div class="container">
  <div id="headhunters" class="transitions-enabled">
    <% @headhunters.each do |headhunter| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(headhunter.image.url(:medium)), headhunter %>
        <div class="panel-body">
          <p><strong><%= headhunter.CompanyName %></strong></p>
          <%= link_to headhunter.CompanyWebsite, "http://#{headhunter.CompanyWebsite}" %>          
          <% if current_user.try(:admin?) %>
            <div class="actions">
              <%= link_to edit_headhunter_path(headhunter) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to headhunter, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <!--
    <br />
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Headhunter', new_headhunter_path %>
    <% end %>
  -->
  </div>
  <div class="center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>
