<div class="container">
  <div id="headhunters" class="transitions-enabled">
    <% @headhunters.each do |headhunter| %>
      <div class="box panel panel-default">
        <%= image_tag headhunter.image.url(:medium) %>
        <div class="panel-body">
          <%= headhunter.CompanyName %>
          <%= headhunter.CompanyDescription %>
          <%= headhunter.CompanyEmail %>
          <%= link_to 'Show', headhunter %>
          <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_headhunter_path(headhunter) %>
            <%= link_to 'Destroy', headhunter, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <br />
    <% if current_user.try(:admin?) %>
      <%= link_to 'New Headhunter', new_headhunter_path %>
    <% end %>
  </div>
</div>
