<div class="container">

	<%= image_tag @headhunter.image.url(:medium) %>

	<p>
	  <strong>Company Name:</strong>
	  <%= @headhunter.CompanyName %>
	</p>

	<p>
	  <strong>Company Description:</strong>
	  <%= @headhunter.CompanyDescription %>
	</p>

	<p>
	  <strong>Company Email:</strong>
	  <%= @headhunter.CompanyEmail %>
	</p>

	<% if current_user.try(:admin?) %>
		<%= link_to 'Edit', edit_headhunter_path(@headhunter) %>
	<% end %>
	<%= link_to 'Back', headhunters_path %>
</div>