<div class="container">

	<!-- MODAL -->
	<div class="modal fade" id="recruiterModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<input type="text" id="recruiterID">
				
					<!--<% @recruiter = Recruiter.find(2) %>
					<%= @recruiter.name %>
					<%= @recruiter.description %>-->
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1 link-dark-gray">
			<%= link_to 'Back', headhunters_path, :class => "link-dark-gray" %>
			<% if current_user.try(:admin?) %>
				 | 
				<%= link_to edit_headhunter_path(@headhunter) do %>
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag @headhunter.image.url(:medium), class: "img-thumbnail" %>
						</div>
						<div class="col-md-10">
							<h2><%= @headhunter.CompanyName %></h2>
							<small><%= @headhunter.CompanyDescription %></small>
						</div>
					</div>
				</div>
				<div class="panel-body right" style="background-color: #5a5a5a;">
					<%= link_to @headhunter.CompanyWebsite, "http://#{@headhunter.CompanyWebsite}", class: "link-gray" %>
					<% if @headhunter.CompanyEmail == "None" %>

					<% else %>
						&nbsp;
						<%= mail_to @headhunter.CompanyEmail do %>
							<i class="fa fa-envelope fa-lg link-gray"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyLinkedin == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyLinkedin}" do %>
							<i class="fa fa-linkedin fa-lg link-gray"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyFacebook == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyFacebook}" do %>
							<i class="fa fa-facebook fa-lg link-gray"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyTwitter == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyTwitter}" do %>
							<i class="fa fa-twitter fa-lg link-gray"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h5><strong>CLIENT TYPES</strong></h5>
							<% if @headhunter.mega %><small><p>Mega Funds</p></small><% end %>
							<br />
							<h5><strong>LEVEL</strong></h5>
							<% if @headhunter.CompanyUndergrad %><small><p>Undergrad</p></small><% end %>
							<% if @headhunter.CompanyPreMBA %><small><p>PreMBA</p></small><% end %>
							<% if @headhunter.CompanyPostMBA %><small><p>PostMBA</p></small><% end %>
							<% if @headhunter.CompanyExecutive %><small><p>Executive</p></small><% end %>
						</div>
					</div>
				</div>
			</div>
			<!-- CANDIDATE AREA -->
			<% if @headhunter.CompanyCandidateArea == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>CANDIDATE AREA</strong></h5>
								<small><%= raw @headhunter.CompanyCandidateArea %></small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<!-- JOBS AREA -->
			<% if @headhunter.CompanyJobs == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>CURRENT SEARCHES</strong></h5>
								<small><%= raw @headhunter.CompanyJobs %></small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<!-- OFFICE AREA -->
			<% if @headhunter.street1 == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>OFFICES</strong></h5>
									<small>
										<%= @headhunter.street1 %><br />
										<%= @headhunter.city1 %><br />
										<%= @headhunter.phone1 %><br />
										<% if @headhunter.street2 == "None" %>

										<% else %>
											<br />
											<%= @headhunter.street2 %><br />
											<%= @headhunter.city2 %><br />
											<%= @headhunter.phone2 %><br />
										<% end %>
										<% if @headhunter.street3 == "None" %>

										<% else %>
											<br />
											<%= @headhunter.street3 %><br />
											<%= @headhunter.city3 %><br />
											<%= @headhunter.phone3 %><br />
										<% end %>
									</small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- TEAM AREA -->
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<h5><strong>TEAM</strong></h5>
					<div id="recruiters" class="transitions-enabled">
    				<% @recruiters.each do |recruiter| %>
    					<div class="box-recruiters center">	          	
								<%= link_to( image_tag(recruiter.image.url(:medium), :class => "img-circle"), "#recruiterModal", :class => "recruiterBio", :data => {:toggle => "modal", :id => "#{recruiter.description}"}) %>	
	          		<p style="line-height: 1.0; margin-top: 5px;"><%= recruiter.name %></p>
	          		<p style="line-height: 0;"><small><%= recruiter.title %></small></p>
	          		<% if recruiter.email == "None" %>

								<% else %>
		          		<%= mail_to recruiter.email do %>
										<i class="fa fa-envelope fa-lg link-dark-gray"></i>
									<% end %>
								<% end %>
								<% if recruiter.linkedin == "None" %>

								<% else %>
									<%= link_to "http://#{recruiter.linkedin}" do %>
										<i class="fa fa-linkedin fa-lg link-dark-gray"></i>
									<% end %>
								<% end %>
	      			</div>
    				<% end %>
    			</div>
    			<div class="center">
    				<%= will_paginate @recruiters, renderer: BootstrapPagination::Rails %>
  				</div>
				</div>
			</div>
		</div>
	</div>
</div>


