<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= link_to 'Back', headhunters_path %>
			 | 
			<% if current_user.try(:admin?) %>
				<%= link_to edit_headhunter_path(@headhunter) do %>
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<%= image_tag @headhunter.image.url(:medium), class: "img-thumbnail" %>
						</div>
						<div class="col-md-9">
							<h2><%= @headhunter.CompanyName %></h2>
							<p><%= @headhunter.CompanyDescription %></p>
						</div>
					</div>
				</div>
				<div class="panel-body right" style="background-color: #ecf0f1;">
					<%= link_to @headhunter.CompanyWebsite, @headhunter.CompanyWebsite %>
					<%= link_to @headhunter.CompanyEmail do %>
						<i class="fa fa-envelope fa-lg"></i>
					<% end %>
					<%= link_to @headhunter.CompanyLinkedin do %>
						<i class="fa fa-linkedin-square fa-lg"></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<h5>FIRM TYPES</h5>
						</div>
						<div class="panel-body">
							<h5>FOCUS</h5>
							<% if @headhunter.CompanyUndergrad %><small><p>Undergrad</p></small><% end %>
							<% if @headhunter.CompanyPreMBA %><small><p>PreMBA</p></small><% end %>
							<% if @headhunter.CompanyPostMBA %><small><p>PostMBA</p></small><% end %>
							<% if @headhunter.CompanyExecutive %><small><p>Executive</p></small><% end %>
						</div>
						<div class="panel-body">
							<h5>GEOGRAPHY</h5>
						</div>
					</div>
				</div>
			</div>
			<% if @headhunter.CompanyCandidateArea == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5>CANDIDATE AREA</h5>
								<small><%= @headhunter.CompanyCandidateArea %></small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<h5>TEAM</h5>
					<div id="recruiters" class="transitions-enabled">
    				<% @recruiters.each do |recruiter| %>
    					<div class="box-recruiters center">	          		
								<%= link_to image_tag(recruiter.image.url(:medium), :class => "img-circle"), ".bs-example-modal-lg", :data => {:toggle => "modal"} %>	
	          		<p style="line-height: 1.0;"><%= recruiter.name %></p>
	          		<p style="line-height: 0;"><small><%= recruiter.title %></small></p>
		          	<%= link_to recruiter.email do %>
									<i class="fa fa-envelope fa-lg"></i>
								<% end %>
								<%= link_to recruiter.linkedin do %>
									<i class="fa fa-linkedin-square fa-lg"></i>
								<% end %>
	      			</div>
    				<% end %>
    			</div>
    			<div class="center">
    				<%= will_paginate @recruiters, renderer: BootstrapPagination::Rails %>
  				</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>