<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<%= link_to 'Back', headhunters_path %>
			<% if current_user.try(:admin?) %>
				 | 
				<%= link_to edit_headhunter_path(@headhunter) do %>
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<%= image_tag @headhunter.image.url(:medium), class: "img-thumbnail" %>
						</div>
						<div class="col-md-10">
							<h2><%= @headhunter.CompanyName %></h2>
							<small><%= @headhunter.CompanyDescription %></small>
						</div>
					</div>
				</div>
				<div class="panel-body right" style="background-color: #ecf0f1;">
					<%= link_to @headhunter.CompanyWebsite, "http://#{@headhunter.CompanyWebsite}" %>
					<% if @headhunter.CompanyEmail == "None" %>

					<% else %>
						&nbsp;
						<%= mail_to @headhunter.CompanyEmail do %>
							<i class="fa fa-envelope fa-lg"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyLinkedin == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyLinkedin}" do %>
							<i class="fa fa-linkedin fa-lg"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyFacebook == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyFacebook}" do %>
							<i class="fa fa-facebook fa-lg"></i>
						<% end %>
					<% end %>
					<% if @headhunter.CompanyTwitter == "None" %>

					<% else %>
						&nbsp;
						<%= link_to "http://#{@headhunter.CompanyTwitter}" do %>
							<i class="fa fa-twitter fa-lg"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<!--
						<div class="panel-body">
							<h5><strong>FIRM TYPES</strong></h5>
						</div>
						-->
						<div class="panel-body">
							<h5><strong>LEVEL</strong></h5>
							<% if @headhunter.CompanyUndergrad %><small><p>Undergrad</p></small><% end %>
							<% if @headhunter.CompanyPreMBA %><small><p>PreMBA</p></small><% end %>
							<% if @headhunter.CompanyPostMBA %><small><p>PostMBA</p></small><% end %>
							<% if @headhunter.CompanyExecutive %><small><p>Executive</p></small><% end %>
						</div>
						<!--
						<div class="panel-body">
							<h5><strong>GEOGRAPHY</strong></h5>
						</div>
					-->
					</div>
				</div>
			</div>
			<!-- CANDIDATE AREA -->
			<% if @headhunter.CompanyCandidateArea == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>CANDIDATE AREA</strong></h5>
								<small><%= raw @headhunter.CompanyCandidateArea %></small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<!-- JOBS AREA -->
			<% if @headhunter.CompanyJobs == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>CURRENT SEARCHES</strong></h5>
								<small><%= raw @headhunter.CompanyJobs %></small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			<!-- OFFICE AREA -->
			<% if @headhunter.street1 == "None" %>

			<% else %>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<h5><strong>OFFICES</strong></h5>
									<small>
										<%= @headhunter.street1 %><br />
										<%= @headhunter.city1 %><br />
										<%= @headhunter.phone1 %><br />
										<% if @headhunter.street2 == "None" %>

										<% else %>
											<br />
											<%= @headhunter.street2 %><br />
											<%= @headhunter.city2 %><br />
											<%= @headhunter.phone2 %><br />
										<% end %>
										<% if @headhunter.street3 == "None" %>

										<% else %>
											<br />
											<%= @headhunter.street3 %><br />
											<%= @headhunter.city3 %><br />
											<%= @headhunter.phone3 %><br />
										<% end %>
									</small>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<!-- TEAM AREA -->
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<h5><strong>TEAM</strong></h5>
					<div id="recruiters" class="transitions-enabled">
    				<% @recruiters.each do |recruiter| %>
    					<div class="box-recruiters center">	          		
								<%= link_to image_tag(recruiter.image.url(:medium), :class => "img-circle"), ".recruiter-modal", :data => {:toggle => "modal"} %>	
	          		<p style="line-height: 1.0;"><%= recruiter.name %></p>
	          		<p style="line-height: 0;"><small><%= recruiter.title %></small></p>
		          	<%= mail_to recruiter.email do %>
									<i class="fa fa-envelope fa-lg"></i>
								<% end %>
								<%= link_to "http://#{recruiter.linkedin}" do %>
									<i class="fa fa-linkedin-square fa-lg"></i>
								<% end %>
	      			</div>
    				<% end %>
    			</div>
    			<div class="center">
    				<%= will_paginate @recruiters, renderer: BootstrapPagination::Rails %>
  				</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade recruiter-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			To Come    
		</div>
  </div>
</div>