<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @office.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @office.description %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @office.bank_id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @office.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @office.phone %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
