<div class="container">
  <p id="notice"><%= notice %></p>

  <%= render 'layouts/bankheader' %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render 'layouts/bank/sidenav' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4><%= @office.name %></h4>
              <hr style="margin-top: -5px;">
              <small>
                <%= @office.street %><br />
                <%= @office.city %><br />
                <%= @office.phone %><br />
              </small>
              <br />
              <p><%= @office.description %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/bank/office/' + @bank.shortname + '/' + @office.name.downcase.gsub(/\s+/, "") %>
        </div>
      </div>
    </div>
  </div>
</div>
