<div class="container">
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Bank', new_bank_path %>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default" style="margin-top: 5px;">
        <div class="panel-body">
          
          <form action='' method="get">
            <h5><strong>SIZE</strong></h5>
            <%= submit_tag 'Filter', name: nil, class: "btn btn-primary" %>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="banks" class="transitions-enabled">
        <% @banks.each do |bank| %>
          <div class="box panel panel-default">
            <%= link_to image_tag(bank.image.url(:medium)), bank %>
            <div class="panel-body">
              <p><strong><small><%= link_to bank.name, bank, :class => "link-dark-gray" %></small></strong></p>
              <p style="line-height: 0"><small><%= link_to bank.website, "http://#{bank.website}", :class => "link-dark-gray" %></small> </p>         
              <% if current_user.try(:admin?) %>
                <div class="actions">
                  <%= link_to edit_bank_path(bank) do %>
                    <span class="fa fa-edit"></span>
                    Edit
                  <% end %>
                  <%= link_to bank, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <span class="fa fa-trash"></span>
                    Delete
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="center">
        <%= will_paginate @pages, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
