<div class="container">
  <p id="notice"><%= notice %></p>

  <%= render 'layouts/bank/header' %>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <%= render 'layouts/bank/sidenav' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>Basic Information</h4>
              <hr style="margin-top: -5px;">
              <small>
                <div class="row">
                  <div class="col-md-6">
                    <b>Revenue</b> <%= @bank.revenue %><br />
                    <b>Stock Symbol</b> <%= @bank.stock %><br />
                    <b>Employee Count</b> <%= @bank.employees %>
                  </div>
                  <div class="col-md-6">
                    <b>CEO</b> <%= @bank.ceo %><br />
                    <b>Headquarters</b> <%= @bank.headquarters %>
                  </div>
                </div>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/bank/landing/' + @bank.shortname %>
          <%= render 'layouts/data' %>
        </div>
      </div>
    </div>
  </div>
</div>
