<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bank.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bank.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @bank.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @bank.twitter %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @bank.linkedin %>
</p>

<p>
  <strong>Youtube:</strong>
  <%= @bank.youtube %>
</p>

<p>
  <strong>Size:</strong>
  <%= @bank.size %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @bank.geography %>
</p>

<p>
  <strong>Industries:</strong>
  <%= @bank.industries %>
</p>

<p>
  <strong>Products:</strong>
  <%= @bank.products %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @bank.founded %>
</p>

<p>
  <strong>Internship:</strong>
  <%= @bank.internship %>
</p>

<p>
  <strong>Diversity:</strong>
  <%= @bank.diversity %>
</p>

<p>
  <strong>Underclass:</strong>
  <%= @bank.underclass %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @bank.charity %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>

</div>
