<nav class="navbar navbar-front" role="navigation" style="z-index: 10;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right navbar-nav-front" style="font-weight: 300;">
        <li class="disabled"><%= link_to "BANKS", "#" %></li>
        <li><%= link_to "HEADHUNTERS", headhunters_path %></li>
        <li><%= link_to "RESOURCES", resources_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "SETTINGS", edit_user_registration_path %></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

<!-- CAROUSEL -->
<div class="carousel slide" style="top: -73px;">
	<div class="carousel-inner">
		<div class="item bg bg1 active">
			<div class="container">
				<div class="carousel-caption">
					<%= image_tag "logo-1000px.png", :size => "500x131", :class => "img-responsive", :style => "margin: 0 auto;" %>
					<h4>RECRUIT LIKE A CHIMP</h4>
					<hr width="10%" style="margin-top: 50px; margin-bottom: 50px;">
					<h3 style="line-height: 1.4;">
						Finance industry recruiting so easy a monkey could do it.
            <br />
            The best source for data and profiles to help find your next job.
					</h3>
				  <p><small><i><%= link_to "Learn more", "#intro", :style => "color: #fff;" %></i></small></p>
          <%= link_to "#intro", :style => "color: #fff;" do %>
            <span class="fa fa-chevron-circle-down" style="font-size: 2em;"></span>
          <% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div style="background-color: #fff; background-width: 100%; margin-top: -72px;">
  <div class="container" id="intro">
    <div class="row center" style="margin-top: 72px; margin-bottom: 30px;">
      <div class="col-md-4">
        <div class="intro_column">
          <span class="fa fa-bar-chart fa-2x fa-fw intro_side_icon"></span>
          <span class="fa fa-bank fa-5x fa-fw intro_main_icon"></span>
          <span class="fa fa-pie-chart fa-2x fa-fw intro_side_icon"></span>
          <h3>Bank Profiles</h3>
          <p>
            Learn which schools are heavily targeted and where analysts typically exit to
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro_column intro_column_middle">
          <span class="fa fa-envelope fa-2x fa-fw intro_side_icon"></span>
          <span class="fa fa-binoculars fa-5x fa-fw intro_main_icon"></span>
          <span class="fa fa-crosshairs fa-2x fa-fw intro_side_icon"></span>
          <h3>Find a Headhunter</h3>
          <p>
            Reach out to the best recruiter to help you get your next dream job
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro_column">
          <span class="fa fa-newspaper-o fa-2x fa-fw intro_side_icon"></span>
          <span class="fa fa-database fa-5x fa-fw intro_main_icon"></span>
          <span class="fa fa-lightbulb-o fa-2x fa-fw intro_side_icon"></span>
          <h3>Resources Galore</h3>
          <p>
            Everything you to be a great banker and transition to the buyside afterward
          </p>
        </div>
      </div>
    </div>
  </div>
</div>