<div class="jumbotron what_to_read_jumbo">
  <div class="container">
    <h1><b>What to Read Around the Web</b></h1>
    <h4>Resources from industry news to banking life</h4>
    <hr width="20%" style="margin-top: 15px; margin-bottom: 15px;">
    <small><i>curated by</i></small>
    <br />
    <%= image_tag "resources/refout_team_icon.jpg", :size => "50x50", :class => "img-circle", :style => "margin-top: 15px;" %>
    <br />
    <small>The Ref Out Team</small>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Industry News</h4>
      <hr style="margin-top: -5px;">
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/wsj_logo.jpg", :size => "50x50"), "http://www.wsj.com" %>
              </div>
              <div class="col-md-11">
                <h5><%= link_to "Wall Street Journal", "http://www.wsj.com" %></h5>
                WSJ is a newspaper
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/bloomberg_logo.jpg", :size => "50x50"), "http://www.bloomberg.com" %>
              </div>
              <div class="col-md-11">
                <h5><%= link_to "Bloomberg", "http://www.bloomberg.com" %></h5>
                WSJ is a newspaper
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/dealbook_logo.jpg", :size => "50x50"), "http://www.dealbook.com" %>
              </div>
              <div class="col-md-11">
                <h5><%= link_to "DealBook", "http://www.dealbook.com" %></h5>
                WSJ is a newspaper
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h4>Community</h4>
      <hr style="margin-top: -5px;">

      <h4>Recruiting and Interviewing</h4>
      <hr style="margin-top: -5px;">

      <h4>Newsletters</h4>
      <hr style="margin-top: -5px;">

      <h4>Books</h4>
      <hr style="margin-top: -5px;">
    </div>
  </div>
</div>