<div class="jumbotron what_to_read_jumbo">
  <div class="container">
    <h1><b>What to Read Around the Web</b></h1>
    <h4>Resources from industry news to banking life</h4>
    <hr width="20%" style="margin-top: 15px; margin-bottom: 15px;">
    <small><i>curated by</i></small>
    <br />
    <%= image_tag "resources/refout_team_icon.jpg", :size => "50x50", :class => "img-circle", :style => "margin-top: 15px;" %>
    <br />
    <small>The Ref Out Team</small>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Industry News</h4>
      <hr style="margin-top: -5px;">
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/wsj_logo.jpg", :size => "50x50"), "http://www.wsj.com" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Wall Street Journal", "http://www.wsj.com" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/bloomberg_logo.jpg", :size => "50x50"), "http://www.bloomberg.com" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Bloomberg", "http://www.bloomberg.com" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/dealbook_logo.jpg", :size => "50x50"), "http://www.dealbook.com" %>
              </div>
              <div class="col-md-11">
                <%= link_to "DealBook", "http://www.dealbook.com" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/cnbc_logo.jpg", :size => "50x50"), "http://www.cnbc.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "CNBC", "http://www.cnbc.com/" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/economist_logo.jpg", :size => "50x50"), "http://www.economist.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "The Economist", "http://www.economist.com/" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h4>Newsletters</h4>
      <hr style="margin-top: -5px;">
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/termsheet_logo.jpg", :size => "50x50"), "http://fortune.com/tag/term-sheet/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Term Sheet", "http://fortune.com/tag/term-sheet/" %> by Dan Primack is a daily email digest recapping the day's private equity and venture capital deals and other industry news. It's a must-read for those in the financial industry.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/pehub_logo.jpg", :size => "50x50"), "https://www.pehub.com/pewire-signup/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "peHUB Wire", "https://www.pehub.com/pewire-signup/" %> is the daily must-read email for more than 60,000 people, providing breaking news and unique, insightful commentary on the private equity and venture capital industry.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/quartz_logo.jpg", :size => "50x50"), "http://qz.com/daily-brief" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Quartz Daily Brief", "http://qz.com/daily-brief" %> is a cleverly written and edited newsletter from The Atlantic that has a good mix of news, fun, and thoughtful items.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/dwc_logo.jpg", :size => "50x50"), "https://www.the-dwc.co" %>
              </div>
              <div class="col-md-11">
                <%= link_to "The Daily Water Cooler", "https://www.the-dwc.co" %> is an email newsletter with news and humor delivered every weekday morning to make sure you're never left behind in a conversation. Covers highlights in business, politics sports, culture, and more.
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h4>Community and Culture</h4>
      <hr style="margin-top: -5px;">
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/wso_logo.jpg", :size => "50x50"), "http://www.wallstreetoasis.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Wall Street Oasis", "http://www.wallstreetoasis.com/" %> is one of the largest and most entertaining finance communities online.
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/dealbreaker_logo.jpg", :size => "50x50"), "http://dealbreaker.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Dealbreaker", "http://dealbreaker.com/" %> covers the personalities and culture that shape the financial industry, offering original commentary, news and entertainment. 
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/lso_logo.jpg", :size => "50x50"), "http://www.leveragedsellout.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "The Leveraged Sell-Out", "http://www.leveragedsellout.com/" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <h4>Recruiting and Interviewing</h4>
      <hr style="margin-top: -5px;">
      <div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/mi_logo.jpg", :size => "50x50"), "http://www.mergersandinquisitions.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Mergers & Inquisitions", "http://www.mergersandinquisitions.com/" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <%= link_to image_tag("resources/resource_logo/vault_logo.jpg", :size => "50x50"), "http://www.vault.com/" %>
              </div>
              <div class="col-md-11">
                <%= link_to "Vault", "http://www.vault.com/" %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>