<div class="row">
  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <%= link_to (image_tag @bank.image.url(:medium), class: "img-thumbnail"), @bank %>
          </div>
          <div class="col-md-10">
            <h2><%= link_to @bank.name, @bank %></h2>
            <small><%= @bank.description %></small>
          </div>
        </div>
      </div>
      <div class="panel-body right" style="background-color: #5a5a5a;">
        <%= link_to @bank.website, "http://#{@bank.website}", class: "link-gray" %>
        <% if @bank.email == "None" %>

        <% else %>
          &nbsp;
          <%= mail_to @bank.email do %>
            <i class="fa fa-envelope fa-lg link-gray"></i>
          <% end %>
        <% end %>
        <% if @bank.linkedin == "None" %>

        <% else %>
          &nbsp;
          <%= link_to "http://#{@bank.linkedin}" do %>
            <i class="fa fa-linkedin fa-lg link-gray"></i>
          <% end %>
        <% end %>
        <% if @bank.facebook == "None" %>

        <% else %>
          &nbsp;
          <%= link_to "http://#{@bank.facebook}" do %>
            <i class="fa fa-facebook fa-lg link-gray"></i>
          <% end %>
        <% end %>
        <% if @bank.twitter == "None" %>

        <% else %>
          &nbsp;
          <%= link_to "http://#{@bank.twitter}" do %>
            <i class="fa fa-twitter fa-lg link-gray"></i>
          <% end %>
        <% end %>
        <% if @bank.youtube == "None" %>

        <% else %>
          &nbsp;
          <%= link_to "http://#{@bank.youtube}" do %>
            <i class="fa fa-youtube fa-lg link-gray"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>