<div class="container">
<h1>List of Recruiters</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Headhunter</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= link_to recruiter.name, recruiter %></td>
        <td><%= recruiter.headhunter.try(:CompanyName).blank? ? 'N/A' : recruiter.headhunter.CompanyName %></td>
        <td><%= recruiter.updated_at.strftime("%m/%d/%Y") %></td>       
        <td>
          <%= link_to edit_recruiter_path(recruiter) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %>
        </td>
        <td>
          <%= link_to recruiter, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruiter', new_recruiter_path %>
</div>
