<div id="footer"> 
	<div class="container" style="margin-top: 15px;">
		<strong><a id="submitnew" data-toggle="tooltip" rel="popover">+ Add a Company</a></strong>

		<div id="popover_content_wrapper" style="display: none">
  		<div>Please send us an email at hello@refout.com</div>
		</div>

		 &nbsp; &nbsp;
		<a href="#">Blog</a> &nbsp; &nbsp;
		<%= link_to "About", about_path %> &nbsp; &nbsp;
		<%= link_to "Contact", contact_path %> &nbsp; &nbsp;
		<div style="float:right">
			<%= link_to "http://www.facebook.com" do %>
				<i class="fa fa-facebook fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			<%= link_to "http://www.twitter.com" do %>
				<i class="fa fa-twitter fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			&copy; 2014 Water Cooler Labs
			&nbsp; &nbsp;
			<%= link_to "Legal", legal_path %>

		</div>
	</div>
</div>

<script>

$('a#submitnew').click(function() {
    $('a#submitnew').popover({
      html: true,
      trigger: 'manual',
      placement: 'top',
      content: function() {
      	return $('#popover_content_wrapper').html();
    	},
      title: 'Add a Company'
  });
  $('a#submitnew').popover("show");
});

</script>