<div id="footer"> 
	<div class="container" style="margin-top: 15px;">
		<strong><a id="submitnew" data-toggle="popover">+ Add Data</a></strong>

		<div id="popover_content_wrapper" style="display: none">
  		<div>Please send us an email at <a href="mailto:hello@refout.com">hello@refout.com</a></div>
		</div>

		 &nbsp; &nbsp;
		<%= link_to "Blog", "http://refout.tumblr.com" %> &nbsp; &nbsp;
		<%= link_to "About", about_path %> &nbsp; &nbsp;
		<%= link_to "Contact", contact_path %> &nbsp; &nbsp;
		<div style="float:right">
			<%= link_to "https://www.facebook.com/pages/Ref-Out/277440142433174" do %>
				<i class="fa fa-facebook fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			<%= link_to "http://www.twitter.com/refout" do %>
				<i class="fa fa-twitter fa-lg link-social" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			&copy; 2014 Water Cooler Labs
			&nbsp; &nbsp;
			<%= link_to "Legal", legal_path %>

		</div>
	</div>
</div>

<script>

$('a#submitnew').click(function() {
  $('a#submitnew').popover({
    html: true,
    trigger: 'manual',
    placement: 'top',
    content: function() {
    	return $('#popover_content_wrapper').html();
    },
    title: 'Submit a New Data'
  });
  $('a#submitnew').popover("show");
});

$('body').on('click', function (e) {
  $('[data-toggle="popover"]').each(function () {
  	//the 'is' for buttons that trigger popups
  	//the 'has' for icons within a button that triggers a popup
    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
    }
  });
});

</script>